html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  margin: 0;
  padding; 0;
  color: #000;
}

img {
  width: 100%
}

h1 {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: lighter;
  font-size: 8em;
}

.sub-heading {
  font-size: 1.25em;
  color: grey;
}


nav {
  background-color: #000;
  padding: 1.25em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0.5em;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  font-size: 1.25em;
}

nav ul li a {
  color: #ffcccb;
  font-weight: lighter;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #ffcccb;
  color: #ffcccb;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav ul li a:hover {
  text-decoration: underline;
  color: black;
  box-shadow: inset 200px 0 0 0 #ffcccb;;
}

.hero-banner {
  width: 100%;
  height: 80vh;
  background-color: white;
  background-image: url('https://media.discordapp.net/attachments/817653069440483338/1018882510379286599/px9m0oalgkd81.jpg.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10rem;
}

.intro {
  padding: 3em;
  text-align: center;
  overflow: hidden;
}

.intro img {
  width: 200px;
  margin-top: 40px;
  border-radius: 50%;
  border: 3px solid white;
  transition: transform .5s ease;
}

.intro img:hover {
  filter: drop-shadow(10px 10px 10px black);
  transition: .3s ease-in-out;
  transform: scale(1.2);
}

section {
  padding: 3em 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 3%
}

.card {
  width: 50%;
  padding: 2em;
  background-color: #ffcccb;
  border-radius: 6px;
}

.card h2 {
  margin-top: 0;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
}

.work {
  padding: 3em;
  justify-content: center;
  font-size: 1.25em;
}

.images {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffcccb;
  padding:0 1.5em;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.grid > img {
  height: 100%
}
