html {
  box-sizing: border-box;
  scroll-behavior: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  margin: 0;
  padding; 0;
  color: #ffcccb;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: lighter;
  justify-content: center;
}

nav {
  background-color: #black;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0.5em;
  font-family: 'Quicksand', sans-serif;
}

nav ul li a {
  #ffcccb;
  font-weight: lighter;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: white;
}

.hero-banner
